*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  border:#000000;
  font-family :'Dongle', sans-serif;

}

.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

.background_loco{
  z-index: -100;
}

.locofe-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 50;
}

.young{
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 90;
  transform: translateX(-50%);

  height: 80vh;
  display: none;
}

.old{
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 90;
  transform: translateX(-50%);

  height: 80vh;
}


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Archivo Black', sans-serif;
  background-color: rgb(255, 255, 255);
}

h1{
  font-size: 200px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  z-index: 100;
}

.geul_1{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  align-items: center;
  z-index: 100;
  text-align: center;
}






 







.but_1{
  position: absolute;
  top:  30%;
  left: 10%;

  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 10px solid black;
  cursor: pointer;
  size: 20px;
  z-index: 100;
}

.but_2{
  position: absolute;
  top: 90%;
  left: 10%;

  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 10px solid black;
  cursor: pointer;
  size: 20px;
  z-index: 100;
}

.but_3{
  position: absolute;
  top: 30%;
  right: 10%;

  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 10px solid black;
  cursor: pointer;
  size: 20px;
  z-index: 100;
}

.but_4{
  position: absolute;
  top: 90%;
  right: 10%;

  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 10px solid black;
  cursor: pointer;
  size: 20px;
  z-index: 100;
}